<div class="show_container">
    <div class="show_core_container">
        <p id="notice"><%= notice %></p>
        <div class="form-group">
            <label>Grupo</label>
            <div class="show_container_target">
                <h4>
                    <%= @event_group.name  %>
                </h4> 
            </div>
        </div>

        <div class="form-group">
            <label>Eventos relacionados al grupo</label>
        </div>

        <ul class="list-group">
        <% @events.each do |event| %>
        <% if event.event_group_id == @event_group.id%>
        <li class="list-group-item">
           <div class="right_container">
                <div class="form-group">
                    <h5><%= event.name %></h5>
                </div>
                <div class="form-group">
                    <p>Fecha: <%= event.event_date %></p>
                    <p>Horario: <%= event.start_hour %> a <%= event.end_hour %>.</p>
                    <p>Lugar: <%= event.place %>. </p>
                    <p>Grupo de evento: <%= event.event_group.try(:name) %></p>
                </div>
            </div>
            <div class="left_container">
                <%= link_to 'Mostrar', event_path(event), class: 'btn btn-light btn-sm btn-lg btn-block' %>
            </div>
        </li>
        <% end %>
        <% end %>
        </ul>
</div>
</div>

<div class="button_align_right">
    <%= link_to 'Atras', events_path, class: 'btn btn-secondary'%>
</div>
