<p id="notice"><%= notice %></p>

<ul class="list-group">
  <% @events.each do |event| %>
  <li class="list-group-item">
  	  <div class="form-group">
	    <label>Nombre del evento:</label>
	    <%= event.name %>
	  </div>
      <%= link_to 'Mostrar', admin_event_path(event) %></td>
      <%= link_to 'Editar', edit_admin_event_path(event) %>
      <%= link_to 'Borrar', admin_event_path(event), method: :delete, data: { confirm: 'Estás seguro que querés eliminar el evento de la lista?' } %>
  </li>
  <% end %>
</ul>

<br>

<%= link_to 'Nuevo evento', new_admin_event_path %>
