<div class="tag_index d-flex">
  <h4>Eventos existentes</h4>
</div>
<div class="alert alert-light" role="alert">
  <%= notice %>
</div>
<ul class="list-group">
  <% @events.each do |event| %>
  <li class="list-group-item">
    <div class="left_container">
      <div class="form-group">
        <h5 class="index-h5"><%= event.name %></h5>
      </div>
      <div class="form-group">
        <p>Fecha: <%= I18n.l event.event_date, format: '%A, %d de %B de %Y' %></p>
        <p>Horario: <%= event.start_hour.to_formatted_s(:time) %> a <%= event.end_hour.to_formatted_s(:time) %>.</p>
        <p>Lugar: <%= event.place %>. </p>
        <p>Grupo de evento: <%= event.event_group.try(:name) %></p>
      </div>
    </div>
    <div class="right_container">
      <%= link_to 'Mostrar', admin_event_path(event), class: 'button-show btn btn-sm btn-lg btn-block'%>
      <%= link_to 'Editar', edit_admin_event_path(event), class: 'button-unr btn btn-sm btn-lg btn-block' %>
      <%= link_to 'Borrar', admin_event_path(event), method: :delete, data: { confirm: 'Estás seguro que querés eliminar el evento de la lista?' }, class: 'button-unr btn btn-sm btn-lg btn-block' %>
      <%= link_to 'Mostrar inscriptos', admin_registration_path(event), class: 'button-ins btn btn-sm btn-lg btn-block'%>
    </div>
  </li>
  <% end %>
</ul>

<div class="button_align_right">
  <%= link_to 'Crear Nuevo Evento', new_admin_event_path, class: 'button btn' %>
</div>
