
<p id="notice"><%= notice %></p>
<ul class="list-group">
  <% @events_groups.each do |event_group| %>
  <li class="list-group-item">
    <div class="right_container">
      <div class="form-group">
        <h5><%= event_group.name %></h5>
      </div>
    </div>
    <div class="left_container">
      <%= link_to 'Mostrar', admin_events_group_path(event_group), class: 'btn btn-light btn-sm btn-lg btn-block'%>
      <%= link_to 'Editar', edit_admin_events_group_path(event_group), class: 'btn btn-light btn-sm btn-lg btn-block' %>
      <%= link_to 'Borrar', admin_events_group_path(event_group), method: :delete, data: { confirm: 'Estás seguro que querés eliminar el grupo de evento de la lista?' }, class: 'btn btn-light btn-sm btn-lg btn-block' %>
    </div>
 </li>
 <% end %>
</ul>

<div class="button_align_right">
  <%= link_to 'Nuevo grupo de evento', new_admin_events_group_path, class: 'btn btn-dark' %>
</div>
