<div class="focuded_content">
  <div class="show_core_container_logue">
    <div class="tag_index_logue d-flex">
      <h4>Registrarse</h4>
    </div>
    <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %> 

    <div class="form_group">
      <%= f.label :email %><br>
      <%= f.text_field :email, class: 'form_control'%>
    </div>
    <div class="form_group">
      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form_control' %>
    </div>
    <div class="form_group">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, class: 'form_control'%>
    </div>

    <div class="button_align_right_logue">
      <%= f.submit "Registrarse",  class: "button btn"%>
    </div>


    <% end %>

  </div>
</div>