  <%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
      <% event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  

  
  <form method="post">
    <fieldset>

      <legend>Meetup de programación</legend>
      <div>
        <div class="form-group">
          <%= form.label :name, 'Nombre del evento' %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :event_date, 'Fecha' %>
          <%= form.date_field :event_date, class: 'form-control' %>
        </div>
        <br>
        <div class="form-group">
          <%= form.label :start_hour, "Hora" %>
          <%= form.time_field :start_hour, class: "form-control" %>
        </div>
        <br>
        <div class="form-group">
          <%= form.label :place, "Lugar:" %>
          <%= form.text_field :place, class: "form-control" %>
        </div>
        <br>

        <div class="form-group">
          <%= form.label :description, "Descripción:" %>
          <%= form.text_field :description, class: "form-control" %>
        </div>
          <br>
          <label for="expositor">Expositores: </label>
          <input type="text" name="description" size="160">
          <br>
        <label for="description">Descripción del evento: </label>
        <input type="text" name="description" size="160">
          <br>
          <label for="expositor">Expositores: </label>
          <input type="text" name="description" size="160">
          <br>
          <label for="max_capacity">Capacidad</label>
          <input type="number" id="max_capacity" name="max_capacity" placeholder="30" min="1" max="30" required="required">
          <br>
          <br>
        </div>
      </fieldset>
    </form>
    
    <div class="actions">
      <%= form.submit "Crear Evento"%>
    </div>
    <% end %>
