<div class="tag_index_events">
  Próximos eventos
</div>

<ul class="list-group">
  <% @events.each do |event| %>
  <li class="list-group-item">
    <div class="form-group">
      <label>Nombre del evento:</label>
      <%= event.name %><br>
      <label>Fecha:</label>
      <%= event.event_date %><br>
    </div>
    <%= link_to 'Ver Evento', event_path(event) %>
  </li>
  <br>
  <% end %>
</ul>

<div class="tag_index_events">
  Grupos
</div>

<ul class="list-group">
<% @event_groups.each do |group| %>
 <li class="list-group-item">
    <div class="form-group">
      <%= group.name %><br>
    </div>
    <%= link_to 'Ver eventos del grupo', event_group_path(group) %>
  </li>
 <% end %>
</ul>

<ul class="list-group">
  <li class="list-group-item">Tecnología</li>
  <li class="list-group-item">Deporte</li>
  <li class="list-group-item">Turismo</li>
  <li class="list-group-item">Música</li>
  <li class="list-group-item">Libros</li>
</ul>