<div class="tag_index">
  Próximos eventos
</div>
<div class="alert alert-light" role="alert">
  <%= notice %>
</div>

<ul class="list-group">
  <% @events.each do |event| %>
  <li class="list-group-item">
    <div class="left_container">
      <div class="form-group">
        <h5><%= event.name %></h5>
      </div>
      <div class="form-group">
        <p>Fecha: <%= event.event_date %></p>
        <p>Horario: <%= event.start_hour %> a <%= event.end_hour %>.</p>
        <p>Lugar: <%= event.place %>. </p>
        <p>Grupo del evento: <%= event.event_group.try(:name) %></p>
      </div>
    </div>
    <div class="right_container">

      <% if Registration.where(user: current_user, event: event.id).exists? %>
      <%= link_to 'Anular inscripción', unregister_event_path(event), class: 'btn btn-light btn-sm btn-lg btn-block'%>
      <% else %>
      <%= link_to 'Inscribirse', register_event_path(event), class: 'btn btn-dark btn-sm btn-lg btn-block'%>
      <% end %>
      
      <%= link_to 'Mostrar', event_path(event), class: 'btn btn-light btn-sm btn-lg btn-block' %>
     
    </div>
  </li>
  <% end %>
</ul>

<br>