<p id="notice"><%= notice %></p>

<ul class="list-group">
  <% @events.each do |event| %>
  <li class="list-group-item">
      <%= link_to 'Mostrar', event %></td>
      <%= link_to 'Editar', edit_event_path(event) %>
      <%= link_to 'Borrar', event, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
</ul>

<br>

<%= link_to 'Nuevo evento', new_event_path %>
