<h1>Wecode</h1>


<div class="form-group">
    <label>Nombre del evento:</label>
    <%= @event.name %>
</div>
<br>
<div class="form-group">
    <label>Fecha:</label>
    <%= @event.event_date %>
</div>
<br>
<div class="form-group">
    <label>Hora de comienzo:</label>
    <%= @event.start_hour %>
</div>
<br>
<div class="form-group">
    <label>Hora de final:</label>
    <%= @event.end_hour %>
</div>
<br>
<label>Lugar:</label>
    <%= @event.place %>
</div>
<br>
<div class="form-group">
    <label>Descripci칩n del evento:</label>
    <%= @event.description %>
</div>
<br>
<div class="form-group">
    <label>Expositores:</label>
    <%= @event.speakers %>
</div>
<br>
<div class="form-group">
    <label>Capacidad:</label>
    <%= @event.max_capacity %>
</div>
<br>

<%= link_to 'Inscribirse', events_path %> <!-- luego linkear치 hacia la inscripci칩n de un usuario -->
<br><br>
<%= link_to 'Atr치s', events_path %>