  <%= form_for([:admin, event_group]) do |form| %>

  <div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Nombre del grupo de evento</span>
        </div>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form_end_container">
    <div class="form_end_container_error">
      <% if event_group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event_group.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% event_group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="form_end_container_buttons">
      <div class="button_align_right">
        <%= link_to 'Volver', admin_event_groups_path, class: "btn btn-secondary"%>
        <%= form.submit "Guardar", class: "btn btn-dark"%> 
      </div>
    </div>
  </div>

  <% end %>
