<div class="tag_index d-flex">
  <h3>Grupos de eventos existentes </h3>
</div>

<ul class="list-group">
  <% @event_groups.each do |event_group| %>
  <li class="list-group-item">
    <div class="left_container">
      <div class="form-group font-group">
        <h5><%= event_group.name %></h5>
      </div>
    </div>
    <div class="right_container">
      <%= link_to 'Características e inscriptos', admin_event_group_path(event_group), class: 'button-show btn btn-sm btn-lg btn-block'%>
      <%= link_to 'Editar', edit_admin_event_group_path(event_group), class: 'button-unr btn btn-sm btn-lg btn-block' %>
      <%= link_to 'Borrar', admin_event_group_path(event_group), method: :delete, data: { confirm: 'Estás seguro que querés eliminar el grupo de evento de la lista?' }, class: 'btn-danger btn-sm btn-lg btn-block text-center' %>
    </div>
  </li>
  <% end %>
</ul>

<div class="button_align_right">
  <%= link_to 'Crear nuevo grupo de evento', new_admin_event_group_path, class: 'button btn' %>
</div>
