<div class="tag_index">
  <h5>Listado de inscriptos del evento "<%= @event.name%>"</h5>
</div>

<div class="show_container">
  <div class="show_core_container">
    <div class="alert alert-light" role="alert">
      <%= notice %>
    </div>
     <p id="notice"><%= notice %></p>
      <div class="form-group text-center">
        <ul class="list-group">
          <% @event.users.each do |user| %>
          <li class="list-group-item">
            <p><%= user.email %></p>
            <%= button_to "Enviar recordatorio", { action: "send_email", email: user.email }, method: :post %>
          </li>
          <% end %>
        </ul>
      </div>
  </div>
</div>

<div class="button_align_right">
  <%= link_to 'Atras', admin_events_path, class: 'btn btn-secondary'%>
</div>