<div class="tag_index">
  <h5>Listado de inscriptos del evento "<%= @event.name%>"</h5>
</div>

<div class="show_container">
  <div class="show_core_container">
      <p id="notice"><%= notice %></p>
      <div class="form-group text-center">
        <h4>Listado de inscriptos</h4>
          <ul class="list-group">
            <% @event.users.each do |user| %>
            <li class="list-group-item">
              <p><%= user.email %></p>
              <div class="flex-row"> 
                <%= button_to "Enviar confirmación", { action: "inscription_email", email: user.email, name: @event.name }, method: :post %>
                <%= button_to "Enviar recordatorio", { action: "reminder_email", email: user.email, name: @event.name }, method: :post %>
              </div>
            </li>
            <% end %>
          </ul>
      </div>
  </div>
</div>

<div class="button_align_right">
  <%= link_to 'Atras', admin_events_path, class: 'btn btn-secondary'%>
</div>